.footer-nav{
    padding: 50px 50px 25px 50px;
}

footer nav ul li{
    text-align: center;
    padding: 3px 0;
    letter-spacing: 0.8px;
}
.main-footer ul li a:hover{
       color: white;
       border-bottom: 0.8px solid white;
       transition: all 0.5s;
}


.footer-credentials{
    margin-top: 20px;
    font-size: 0.8rem;
    div{
        padding: 3px 0;
    }
    a{
        color: #25292c;
        border-bottom: 0.8px solid  #25292c;
    }
    a:hover{
        color: #2f3438;
        border-bottom: 0.8px solid  #2f3438;
    }
}

.footer-cred__left{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

// Medium devices (tablets, 768px and up)
@media (min-width: 1050px) {
    
    .footer-credentials{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.8rem;
        color: #25292c;
        flex-wrap: wrap;
        a{
            color: #25292c;
            border-bottom: 0.8px solid  #25292c;
        }

    .footer-cred__left{
        justify-content: start;
    }
    }

}