.hero__home{
    min-height: 45vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;

    h1{
        text-align: center;
        color: white;
        letter-spacing: 0.2px;
        font-size: 1.2rem;
    }
}

@media (min-width: 1050px) {
    .hero__home{
        min-height: 45vh;
        padding: unset;
    
        h1{
            text-align: center;
            color: white;
            letter-spacing: 0.2px;
            font-size: 1.2rem;
        }
    }
}

.devision__img{
    width: 100%;
    min-height: 66vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}